.product-added-cart {
  width: 50%;
  margin: auto;
  border-radius: 10px;
  margin-top: 3rem;
}

.product-added-cart > div {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(239, 235, 235);
  padding: 2rem;
}

.product-added-cart img {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}

.product-added-cart .check {
  color: white;
  background-color: green;
  padding: 0.1rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.product-added-cart .img-details {
  display: flex;
}
.product-added-cart .button-details button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .product-added-cart {
    width: 23rem;
    border-radius: 10px;
    margin-top: 1rem;
  }

  .product-added-cart > div {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 4rem;
    border-radius: 10px;
    padding: 20px;
  }

  .product-added-cart .img-details {
    display: grid;
    grid-template-columns: 3fr 3fr;
  }

  .product-added-cart img {
    width: 70%;
    height: auto;
    margin-right: 2rem;
  }

  .product-added-cart .button-details button {
    padding: 4px 11px;
    border-radius: 5px;
    margin-bottom: 0rem;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .product-added-cart .button-details p {
    font-size: 0.9rem;
  }
}
